<%- include('../../partials/header.ejs') %>

<main class="container" data-title="<%= title %>">
  <section class="section--full">
    <h2 class="title" data-name="Categories">Categories</h2>
  </section>
  
  <section class="section--full">
    <div id="categories">
        <% function renderCategories(categories) { %>
            <ul>
                <% categories.forEach(function(category) { %>
                    <li id="<%= category.id %>">
                    <input type="text" value="<%= category.name %>">
                    
                    <button>Check</button>
                    
                    <% if (category.children && category.children.length > 0) { %>
                        <% renderCategories(category.children) %>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
                
        <% renderCategories(categories); %>
    </div>
  </section>
</main>

<script>
    // Vyberieme všetky tlačidlá vo vnútri kontajnera s id 'categories'
    const buttons = document.querySelectorAll('#categories button');

    // Prejdeme každé tlačidlo a pridáme event listener
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Nájdeme najbližší rodičovský <li> element
            const li = button.closest('li');
            if (li) {
                // Získame id z <li> elementu
                console.log(li.id);
            } else {
                console.log('ID kategórie nebolo nájdené.');
            }
        });
    });
</script>
