<%- include('./partials/header.ejs') %>

<main class="container">
  <section class="section--full">
    <h2 class="title" data-name="<%= global.dictionary.messages.error %>"><%= global.dictionary.messages.error %></h2>

    <p><%= error.msg %></p>
  </section>
</main>
