<% if (messages.length > 0) { %>
<div>
  <% messages.forEach(message => { %>
  <p style="color: green"><%= message %></p>
  <% }); %>
</div>
<% } %>
<h1><%= locale.hello %></h1>
<% if (user) { %>
<p><%= user.name %></p>
<% } %>
<p id="date"></p>
