<header>
  <nav>
    <figure><%= global.locale.hello %></figure>
    <form action="/search" method="post">
      <input type="text" name="searchTerm" placeholder="Search" />
      <button>Search</button>
    </form>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (typeof user === 'undefined') { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } else { %>
      <li><a href="/dashboard">Dashboard</a></li>
      <% if (user.role === 'admin') { %>
      <li><a href="/admin">Admin</a></li>
      <% } %>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
