<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
      :root[data-color-mode='light'] {
        --light-color-alt: rgba(0, 0, 0, 0.6);
        --primary-background-color: #fff;
      }
      :root[data-color-mode='dark'] {
        --light-color-alt: #afb5cd;
        --primary-background-color: #131417;
      }
      body {
        color: var(--light-color-alt);
        background-color: var(--primary-background-color);
      }
    </style>

    <script>
      ;(function () {
        const matcher = window.matchMedia('(prefers-color-scheme: dark)')
        const storedTheme = localStorage.getItem('data-color-mode')
        const defaultTheme = storedTheme ? storedTheme : matcher.matches ? 'dark' : 'light'
        document.documentElement.setAttribute('data-color-mode', defaultTheme)

        matcher.addEventListener('change', function () {
          const currentTheme = localStorage.getItem('data-color-mode')
          if (!currentTheme) {
            document.documentElement.setAttribute('data-color-mode', matcher.matches ? 'dark' : 'light')
          }
        })
      })()
    </script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script type="text/javascript" src="/js/script.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <!-- <%- include('../partials/footer.ejs') %> -->
  </body>
</html>
